* {
	text-align: center;
	
}

#submit {
	
}

#padmar {
	background-image: url('uploads/old-books-436498_1280.jpg');
	padding: 50px;
	opacity: 75%;
}

.nav-link {
	color: white !important;
}

.navbar-brand {
	color: white !important;
}

#description
{
	width: 400px;
    height: 100px;
    font-size:14pt;
}


* {
	
}


#center {
	padding-top: 40px;
}



.colorwhite {
    color: black !important;
}

.bkclr {
	background-color: rgb(121, 85, 68);
    padding: 0px;
    margin: 0px;
}

input {
	border-radius: 10px;
	border: 1px white solid;
}

#submit {
	background-color: lightblue;
	height: 40px;
	width: 100px;
	font-size: 20px;
	margin-bottom: 50px;
}

#footer {
	background-color: lightblue;
}

#cimage {
	border: 0px;
	background-color: lightblue;
}

#yes {
	text-align: center;
	padding-bottom: 50px;
}

.bc {
	background-color: #7d664b;
	
}

#maregin{
	margin-top: 50px;
	max-width: 350px;
}

#padb {

}

#marginsinglecar{
	margin-right: 50px;
}

#bksomelese{
	box-shadow: rgba(2, 2, 2, 0.2) 0px 7px 29px 0px;
}

#formcss {
	background-color: #7d664b;
}